<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <div style="display:none"><%= devise_error_messages! %></div>
    <div class="container">
        <div class="row form-group">
            <div class="col-lg-6 offset-3 sign-up-form">
                <br>
                <p class="h4 text-center">Sign up</p>
                <!-- Material input text -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <%= f.text_field :name, autofocus: true,class:"form-control", id:"materialFormRegisterNameEx", placeholder: "Your Name" %>
                </div>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <%= f.email_field :email, autofocus: true, class:"form-control", id:"materialFormRegisterEmailEx", placeholder: "Your Email" %>
                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"materialFormRegisterPasswordEx", placeholder: "Password" %>
                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"materialFormRegisterPasswordEx", placeholder: "Confirm Password" %>
                </div>

                <div class="text-center mt-4">
                    <%= f.submit "Register", class:"btn btn-primary" %>
                    <%= link_to 'LOGIN', user_session_path,:class=>"btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
<% end %>
