<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
<div style="display:none"><%= devise_error_messages! %></div>

<div>
    <%= f.label :name %>
    <div><%= f.text_field :name, autofocus: true %></div>
</div>

<div>
    <%= f.label :email %>
    <div> <%= f.email_field :email %></div>
</div>

<div>
    <%= f.label :password %>
    <div><%= f.password_field :password, autocomplete: "off" %></div>
</div>

<div>
    <%= f.label :password_confirmation %>
    <div><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
</div>

<div>
    <%= f.submit "Sign up" %>
</div>

<div>
    <%= render "devise/shared/links" %>
</div>
<%= link_to 'Home', queries_path %>
<% end %>
