<div class="container index-wrapper">
  <h1><%= current_user.name %>'s favourites</h1>
  <div class="row">
    <% @favourites.each do |favourite| %>
    <!-- Card -->
    <div class="col-md-3 fav_card-container">
      <div class="card-flip">
        <!-- Card Front -->
        <div class="card front card-inverse fav_card">
          <img class="card-img object-fit" src= <%= favourite[:img] %> alt="Card image" width="250" height="250">
          <div class="card-img-overlay">
            <h4 class="card-title results_ellipsis fav_text"><%= favourite[:name] %></h4>
          </div>
        </div>
        <!-- End Card Front -->

        <!-- Card Back -->
        <div class="card back fav_card ">
          <div class="card-block">
            <div class="fav_backCardText">
              <h5 class="card-title"><%= favourite[:name] %></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <strong>Price:</strong><%= favourite[:price] %>
                <p><strong>Platform:</strong><%= favourite[:platform] %></p>
              </h6>
            </div>
            <div class="fav_buttons">
              <a href= <%= favourite[:url] %> class="btn btn-outline-dark">Buy Now</a>
              <%= link_to 'Unfavourite', result_favourite_path(favourite), :remote => true, method: :delete, class: "btn btn-outline-dark" %>
            </div>
          </div>
        </div>
        <!-- End Card Back -->
      </div>
    </div>
    <!-- End Card -->
    <% end %>
  </div>
</div>

<div id="results"></div>

<script>
  $( "form" ).submit(function( ) {
    $("#navbar_loader").addClass( "onclic");
    $("#navbar_submit")[0].style.display = "none";
    $("#navbar_loader")[0].style.display = "block";
    $(".index-wrapper")[0].style.display = "none";
  });
</script>
