<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
	<div class="container">
		<div class="row form-group">
			<div class="col-lg-6 offset-3 sign-up-form">
				<br>
				<p class="login text-center">LOGIN</p>
				<!-- Material input email -->
				<div class="login-form">
					<div class="md-form">
						<i class="fa fa-envelope prefix amber-text"></i>
						<%= f.email_field :email, autofocus: true, class:"form-control", id: "materialFormRegisterEmailEx", placeholder:"Your Email" %>
					</div>
					<div class="md-form">
						<div>
							<i class="fa fa-lock prefix amber-text"></i>
							<%= f.password_field :password, autocomplete: "off", class:"form-control", id:"materialFormRegisterPasswordEx", placeholder:"Your Password" %>
						</div>
					</div>
					<div class="text-center mt-4">
						<%= f.submit "Sign in", class:"btn-login" %>
					</div>
					<div class="text-center mt-4">
						No account yet? <%= link_to 'Register', new_user_registration_path%>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
