<div class="main-wrapper">
    <div class="container d-flex justify-content-around">
        <div class="card-deck-wrapper view d-flex flex-wrap">
            <% @parsedAll.each do |site| %>
            <div class="platform-title">
                <br>
                <% if site[:platform] == "Qoo10" %>
                    <%= image_tag 'Qoo10.png', height: '80', width: '220' %>
                <% elsif site[:platform] == "Lazada" %>
                    <%= image_tag 'lazada.png', height: '100', width: '250' %>
                <% elsif site[:platform] == "Carousell" %>
                    <%= image_tag 'carousell.png', height: '80', width: '400' %>
                <% end %>
                <br><br>
            </div>
            <div class="row">
                <% site[:results].each do |item| %>
                    <!-- Grid column -->
                    <div class="col-md-4 mb-r d-flex align-items-stretch queryCard">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay">
                                <div style="width:200px; height:200px; margin:0 auto">
                                    <img class="card-img-top" src= <%= item["img"] %>
                                    <a href="#">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title"><%= item.name %></h4>
                                <!--Text-->
                                <p class="card-text"><strong>Price:</strong><%= item.price %></p>
                                <button type="button" class="btn btn-yellow btn-md" href="<%= item["url"] %>"><strong>Buy Now</strong></button>
                                <% if item.favourited %>
                                <% else %>
                                    <%= link_to 'Add to Favourites', result_favourites_path(item.name), method: :post, class: "btn btn-yellow btn-md", id: item.id, :onclick => "toggle_fav_bt(this.id)" %>
                                <% end %>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
  function toggle_fav_bt(clicked_id) {
    document.getElementById(clicked_id).style.display = "none";
  }
</script>
