<% if @showError %>
<div class="alert alert-dismissable alert-info">
	<button type="button" class="close" data-dismiss="alert">×</button>
 	<%= @showError %></div>
<% end %>


<h1>Queries#index</h1>
<p>Find me in app/views/queries/index.html.erb</p>

<%= form_with scope: :query, local: true do |form| %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if user_signed_in? %>
  <%= link_to('Sign out', destroy_user_session_path) %>
  <%= link_to 'Edit Profile',edit_user_registration_path %>
  <%= link_to('My Favourites', favourites_path) %>
  <% if current_user.admin? %>
  	<%= link_to('Admins', admins_root_path) %>
  <% end %> 
<% else %>
  <%= link_to 'Sign In', user_session_path %>
<% end %>
