<div class="index-wrapper">
	<div class="container view">
		<div class="row index-logo align-items-center">
			<div class="main-logo col-lg-12">
				<%= image_tag 'logo.png', height: '240', width: '440' %>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-12">
				<h2>
					<%= form_with scope: :query, url: queries_path do |form| %>
					<%= label_tag(:name, "PRODUCT:") %>
					<%= text_field_tag(:name) %>
					<%= submit_tag("SEARCH") %>
					<% end %>
				</h2>
			</div>
		</div>
	</div>
	
</div>





