
<p>
  <strong>Searching for: </strong><%= @query.name %>
</p>

<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>
    <th>Url</th>
  </tr>

  <% @parsedResults.each do |item| %>
    <tr>
    	<td><%= item["id"] %></td>
      <td><%= item["name"] %></td>
      <td><img src= <%= item["image"] %>></td>
      <td><%= item["price"] %></td>
      <td> <a href="<%= item["url"] %>">Click to buy</a> </td>
    </tr>
  <% end %>
</table>
