<%= link_to 'Home', queries_path %>

<% if user_signed_in? %>
  <%= link_to('My Favourites', favourites_path) %>
<% end %>

<p>
  <strong>Searching for: </strong><%= @query.name %>
</p>

<h1>Qoo10</h2>
<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Price</th>
    <th>Url</th>
    <th>Favourites</th>
  </tr>

   <% @parsedQoo10.each do |item| %>
  <tr>
  	<td><%= item.id %></td>
    <td><img src= <%= item.img %>><span style="width:300px; height:100px; overflow:auto; display:inline-block;"><%= item.name %></span></td>
    <td><%= item.price %></td>
    <td> <a href="<%= item["url"] %>">Click here to buy</a> </td>
    <td><%= link_to 'Add to Favourites', result_favourites_path(item.name), method: :post %></td>
  </tr>
  <% end %>

</table>

<!-- Add shopee codes here -->

<h2>Lazada</h2>
<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Price</th>
    <th>Url</th>
    <th>Favourites</th>
  </tr>

  <% @parsedLazada.each do |item| %>
    <tr>
      <td><%= item["id"] %></td>
      <td><img src= <%= item["img"] %> height="100px" width="100px"><span style="width:300px; height:100px; overflow:auto; display:inline-block;"><%= item["name"] %></span></td>
      <td><%= item["price"] %></td>
      <td> <a href="<%= item["url"] %>">Click here to buy</a> </td>
      <td><%= link_to 'Add to Favourites', result_favourites_path(item.name), method: :post %></td>
    </tr>
  <% end %>
</table>
